* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
  color: #d6ecf1;
  border-top: 6px solid #63b2c3;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.app-container {
  display: grid;
  grid-template-columns: 250px 750px;
  gap: 1rem;
  margin: 4rem;
}

.region-btn {
  margin-top: 1rem;
  border: none;
  padding: 10px;
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(167, 193, 199, 0.2);
  cursor: pointer;
}

.region-btn:hover {
  background-color: rgba(167, 193, 199, 0.6);
  transition: ease 0.2s;
}

.btn-container {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-top: 2rem;
}

.data-btn {
  margin-top: 1rem;
  border: none;
  padding: 10px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(167, 193, 199, 0.2);
  cursor: pointer;
}

.data-btn:hover {
  background-color: rgba(167, 193, 199, 0.6);
  transition: ease 0.2s;
}

.country-list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #63b2c3;
  padding-bottom: 0;
}

.country-list-container {
  background-color: #292929;
  padding: 2rem;
  border-radius: 20px;
}
